.app {
  display: flex;
  justify-content: center;
  border: 1px red solid;
  padding: 60px;
}

.calculator-body {
  border: 1px red solid;
}

.resultComponent {
  border: 1px blue solid;
  text-align: right;
}